*.pkl
*/__pycache__/*
__pycache__/
__pycache__
*.zip
*.tgz
*.dat
*.hdf5
*.csv
*.pem
.env
*.env
*.out
*.ovr
*.het
*.coo
*/restartfiles/*
*/.ipynb_checkpoints/*
.ipynb_checkpoints
*.bin
*.txt
*.tar.gz
*.tar
*.gz
*.csv#
*.csv
